openapi: 3.0.1
info:
  title: Time API
  description: Returns the current datetime.
  version: 1.0.0

servers:
  - url: https://www.timeapi.io/api

paths:
  /time/current/zone:
    get:
      summary: Get current date and time for given time zone
      description: Returns the current timestamp for given time zone.
      parameters:
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
            default: UTC
      responses:
        '200':
          description: Successful response with current timestamp.
          content:
            application/json:
              schema:
                type: object
                required:
                  - dateTime
                properties:
                  dateTime:
                    type: string
                    description: Current timestamp
                  date:
                    type: string
                    description: Current date
                  time:
                    type: string
                    description: Current time
                  timeZone:
                    type: string
                    description: Time zone
                  dayOfWeek:
                    type: string
                    description: Day of the week
                  dstActive:
                    type: boolean
                    description: Daylight saving time active
                  year:
                    type: integer
                    format: int32
                    description: Year
                  month:
                    type: integer
                    format: int32
                    description: Month
                  day:
                    type: integer
                    format: int32
                    description: Day
